{% extends './layout.html' %}
{% block title %}
新增图书
{%endblock%}
{% block head %}

{%endblock%}
{% block content %}
<p>增加</p>
<form>
    <label for="name"></label>
    <input type="text" name="name"/>
    <input type="button" value="提交" id="js-btn">
</form>
{%endblock%}
{% block scripts %}
<script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
<script type="module">
    import Create from '/scripts/index.js'
    const create = new Create();
    create.fn()
</script>
<!-- <script src="/scripts/index.js"></script> -->
{%endblock%}