:root {
    --heightUnit: 70px;
}
.components-banner {
    height: var(--heightUnit);
    line-height: var(--heightUnit);
    margin-bottom: 10px;
    box-shadow: 0 0 10px gray;
    & .booksnote {
        color: #4CAF50;
    }
}