<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}标题{% endblock %}</title>
    {% block head %}
    <meta />
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.2.1/css/bootstrap.css">
    {% block styles %}
    css存放地方
    {% endblock %}
</head>

<body>
    {% block header %}
        这是头
    {% endblock %}
    <div class="container" id="app">
        {% block content %}
        真正的业务代码
        {% endblock %}
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.staticfile.org/jquery.pjax/2.0.1/jquery.pjax.js"></script>
    <script>
        $(document).pjax("a", "#app");
    </script>
    {% block scripts %}
    js存放地方
    {% endblock %}
</body>

</html>