<!---<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试首页</title>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>
<body>
    222
    <form action="/index" method="post">
        <input type="text" name="data"/>
        <input type="submit" val="提交"/>
    </form>
   <script src="js/index.js"></script> 
</body>
</html>-->
<!-- {% extends 'layout.html' %} -->
<link rel="stylesheet" type="text/css" href="css/index.css"/>

<p>{{title}}</p>